.circle {
    position: fixed;
    border-radius: 50%;
    background-color: rgba(150, 75, 75, 0.3); /* Adjust color and opacity */
    z-index: -1; /* Ensure circles are behind the main content */
}
  
.circle1 {
    width: 160px; /* Use viewport width for responsive sizing */
    height: 160px;
    top: 120px; /* Use viewport height for responsive positioning */
    left: 190px;
}
  
.circle2 {
    width: 160px;
    height: 160px;
    top: 220px;
    left: 120px;
}
  
.circle3 {
    width: 120px;
    height: 120px;
    top: 200px;
    right: 120px;
}
  
.circle4 {
    width: 80px;
    height: 80px;
    top: 350px;
    right: 100px;
}
  
.circle5 {
    width: 6vw;
    height: 6vw;
    top: 40vh;
    left: 25vw;
}