/* light mode */
:root {
  --background-color: #FBFBFD;
  --light-purple: #8365C8;
  --header-color: #000000;
  --text-color: #504A49;
  --subheader-color: #D169EB;
  --darker-purple: #784edb;
  --experience-border: #C9C9C9;
  --gradient1-color: #E6E6F3;
  --gradient2-color: #FFFFFF;
}

/* dark mode */
[data-theme="dark"] {
  --background-color: #0F101F;
  --light-purple: #a483db;
  --header-color: #DDE5FF;
  --text-color: #A8B2D1;
  --subheader-color: #E199C9;
  --darker-purple: #6e44d2;
  --experience-border: #8d9196;
  --gradient1-color: #141524;
  --gradient2-color: #1D1E32;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  background: var(--background-color);
  color: var(--text-color);
  font-family: 'NTR', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.title-box{
  position: relative;
}
.title-box h1{
  padding: 0px 20px;
  font-size: 60px;
  font-weight: 600;
  line-height: 40px;
  color: var(--header-color);
}
.title-box img{
  width: 160px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
@media(max-width: 830px){

  .title-box h1{
    padding: 0px;
    font-size: 45px;
  }
  .title-box img{
    width: 100px;
    right: -40px;
  }
}

@media(max-width: 500px){
  .title-box h1{
    font-size: 35px;
  }
}